body{
    padding: 0px ;
    margin: 0px;
    background-color: #FFFFDE;
} 
hr{
    color: #B09B71;
    width: 5%;
    border-style: dotted none none none;
    border-width: 7px;
    height: 0px;
}
h1{
    color:#740c0c;
}
h3{
    color:#740c0c;
}